<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="admin.css">
    <script src="js/element/index.js"></script>
</head>
<body>
<div id="app">
    <div id="container">
        <el-container>
            <el-header>工业设备监测系统</el-header>
            <el-main>
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                    <el-menu-item index="4">主页</el-menu-item>
                    <el-menu-item index="1" @click="to_monitoring">实时监测</el-menu-item>
                    <el-menu-item index="2" @click="to_faulty">故障记录</el-menu-item>
                    <el-menu-item index="3" @click="to_maintenance">维护记录</el-menu-item>
                </el-menu>

                <el-row :gutter="20">
                    <el-col :span="5">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span style="line-height: 36px;">欢迎，{{username}}</span>
                            </div>
                            <div style="text-align: center; margin: 14px;">
                                <el-avatar shape="square" src="images/default.jpg"></el-avatar>
                            </div>
                            <div style="padding: 14px; text-align: center;">
                                <el-button type="text" @click="visible=true" plain>修改密码</el-button>
                                <el-button v-if="this.role === 'admin'" type="text" @click="add_operator_visible=true" plain>添加操作员</el-button>
                                <el-button v-if="this.role === 'admin'" type="text" @click="add_visible=true" plain>添加管理员</el-button>
                            </div>
                        </el-card>
                    </el-col>
                    <el-col :span="18">
                        <el-card>
                            <div slot="header" class="clearfix">
                                <span>公告</span>
                            </div>
                            <div v-for="announcement in announcements" :key="announcement.id">
                                <el-alert
                                        :title="announcement.title"
                                        type="info"
                                        :description="announcement.content"
                                        show-icon>
                                </el-alert>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>

                <el-dialog
                        title="修改密码"
                        :visible.sync="visible"
                        width="30%">
                    <el-form>
                        <el-form-item label="原密码">
                            <el-input type="password" v-model="updatePW.pw"></el-input>
                        </el-form-item>
                        <el-form-item label="新密码">
                            <el-input type="password" v-model="updatePW.npw"></el-input>
                        </el-form-item>
                        <el-form-item label="确认新密码">
                            <el-input type="password" v-model="updatePW.cnpw"></el-input>
                        </el-form-item>
                    </el-form>
                    <span slot="footer" class="dialog-footer">
                <el-button @click="cancel">取 消</el-button>
                <el-button type="primary" @click="update">修 改</el-button>
            </span>
                </el-dialog>


                <el-dialog
                        title="添加管理员"
                        :visible.sync="add_visible"
                        width="30%">
                    <el-form>
                        <el-form-item label="新管理员用户名">
                            <el-input v-model="admin.username"></el-input>
                        </el-form-item>
                        <el-form-item label="新管理员密码">
                            <el-input type="password" v-model="admin.password"></el-input>
                        </el-form-item>
                        <el-form-item label="确认密码">
                            <el-input type="password" v-model="addPwConfirm"></el-input>
                        </el-form-item>
                    </el-form>
                    <span slot="footer" class="dialog-footer">
                <el-button @click="add_cancel">取 消</el-button>
                <el-button type="primary" @click="add">添 加</el-button>
            </span>
                </el-dialog>

                <el-dialog
                        title="添加操作员"
                        :visible.sync="add_operator_visible"
                        width="30%">
                    <el-form>
                        <el-form-item label="新操作员用户名">
                            <el-input v-model="operator.username"></el-input>
                        </el-form-item>
                        <el-form-item label="新操作员密码">
                            <el-input type="password" v-model="operator.password"></el-input>
                        </el-form-item>
                        <el-form-item label="新操作员属地">
                            <el-input v-model="operator.location"></el-input>
                        </el-form-item>
                        <el-form-item label="确认密码">
                            <el-input type="password" v-model="addPwConfirm"></el-input>
                        </el-form-item>
                    </el-form>
                    <span slot="footer" class="dialog-footer">
                <el-button @click="add_cancel2">取 消</el-button>
                <el-button type="primary" @click="add_operator">添 加</el-button>
            </span>
                </el-dialog>


                <el-dialog
                        title="删除管理员"
                        :visible.sync="delete_visible"
                        width="30%">
                    <el-form>
                        <el-form-item label="待删除管理员用户名">
                            <el-input v-model="delete_username"></el-input>
                        </el-form-item>
                    </el-form>
                    <span slot="footer" class="dialog-footer">
                <el-button @click="delete_cancel">取 消</el-button>
                <el-button type="primary" @click="delete_admin">删 除</el-button>
            </span>
                </el-dialog>

            </el-main>
            <el-footer>Copyright © 2025.工业设备监测系统 All rights reserved.</el-footer>

        </el-container>

    </div>

</div>

<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                username: '',
                role: '',
                activeIndex: '4',
                visible: false,
                add_visible: false,
                add_operator_visible: false,
                delete_visible: false,
                updatePW: {
                  pw: '',
                  npw: '',
                  cnpw: ''
                },
                delete_username: '',
                announcement: {
                    title: '',
                    content: ''
                },
                announcements: [],
                addPwConfirm: '',
                admin: {
                    username: '',
                    password: ''
                },
                operator: {
                    username: '',
                    password: '',
                    location: ''
                }
            };
        },
        methods: {
            to_monitoring() {
                // 跳转到实时监测页面
                window.location.href = 'statistics.html';
            },
            to_maintenance() {
                // 跳转到维护管理页面
                window.location.href = 'maintainRecord.html';
            },
            to_faulty() {
                window.location.href = 'faultyRecord.html';
            },
            delete_cancel() {
                this.delete_visible = false;
                this.delete_username = '';
            },
            add_cancel() {
                this.add_visible = false;
                this.admin.username = '';
                this.admin.password = '';
                this.addPwConfirm = '';
            },
            add_cancel2() {
                this.add_operator_visible = false;
                this.operator.username = '';
                this.operator.password = '';
                this.addPwConfirm = '';
            },
            add() {
                if(this.admin.username === '' || this.admin.password === '') {
                  this.$message.error("请输入用户名和密码");
                  return;
                }

                if(this.addPwConfirm !== this.admin.password) {
                    this.$message.error("两次输入的密码不一致");
                    return;
                }

                axios.post("/admin/save", this.admin).then((res=>{
                   if(res.data === "ok") {
                       this.add_visible = false;
                       this.admin.username = '';
                       this.admin.password = '';
                       this.addPwConfirm = '';
                       this.$message({
                           message: '添加成功',
                           type: 'success'
                       });
                   } else {
                       this.$message.error("用户名已存在");
                   }
                })).catch(err=>{
                    console.log(err);
                });
            },
            add_operator() {

            },
            delete_admin() {
              if(this.delete_username === this.username) {
                  this.$message.error('不能删除自己！');
                  return;
              }
              let f = new FormData();
              f.append('username', this.delete_username);
              axios.delete("/admin", { data: f }).then((res=>{
                  if(res.data === 'ok') {
                      this.delete_visible = false;
                      this.delete_username = '';
                      this.$message({
                          message: '删除成功',
                          type: 'success'
                      });
                  } else {
                      this.$message.error("该管理员不存在");
                  }
              })).catch(err=>{
                  console.log(err);
              })
            },
            cancel() {
                this.visible = false;
                this.updatePW.pw = '';
                this.updatePW.npw = '';
                this.updatePW.cnpw = '';
            },
            update() {
                if(this.updatePW.pw === ''|| this.updatePW.npw === '' ||
                    this.updatePW.cnpw === ''){
                    this.$message.error('请先输入');
                    return;
                }
                if(this.updatePW.npw !== this.updatePW.cnpw) {
                    this.$message.error('两次输入的密码不一致');
                    return;
                }
                let params = new URLSearchParams();
                params.append('username', this.username);
                params.append('pw', this.updatePW.pw);
                params.append('npw', this.updatePW.npw);
                axios.post("/admin/update/pw", params, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then((res=>{
                    if(res.data === 'ok') {
                        this.visible = false;
                        this.$message({
                            message: '修改成功',
                            type: 'success'
                        });
                    } else {
                        this.$message.error('密码错误');
                    }
                })).catch(err=>{
                   console.log(err);
                });
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            getName: function () {
                const token = localStorage.getItem("auth_token");
                axios.get("/general/userinfo", {
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                }).then((res => {
                    this.username = res.data.data.username;
                    this.role = res.data.data.role;
                })).catch(err => {
                    console.log(err);
                })
            },
            addAnnouncements() {
                const announcementList = [
                    {
                        title: '设备数据采集规范',
                        content: '为确保监测准确性，所有设备传感器需保持24小时在线状态，数据采集频率不得低于1分钟/次。异常数据需在10分钟内触发报警。'
                    },
                    {
                        title: '故障报警处理流程',
                        content: '系统触发红色报警后，请立即执行以下操作：1. 查看实时数据趋势 2. 执行远程诊断 3. 联系现场维护人员 4. 填写故障处置报告（需在2小时内完成）'
                    },
                    {
                        title: '系统维护与升级通知',
                        content: '每周日凌晨02:00-04:00为系统维护窗口期，期间将暂停实时报警推送。重大升级将提前48小时发布公告，请及时查阅系统通知。'
                    },
                    {
                        title: '安全操作规范',
                        content: '严禁在设备运行状态下进行非计划性参数修改。所有控制指令下发需通过双重验证（操作员+主管），并保留操作日志备查。'
                    }
                ];
                this.announcements = announcementList;
            }
        },
        created() {
            this.getName();
            this.addAnnouncements();
        }
    });
</script>

</body>


</html>

<style>
    body {
        background-image: url('images/background.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .el-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
